@use "base"as base;

// ブレイクポイント
@mixin pc {
    @media (min-width: 960px) {
        @content;
    }
}

// コンテンツここから


body {
    display: grid;
    place-content: center;
    background: #00ada9;
}

.math {
    text-align: center;
    margin: 5rem auto 7rem;
}

h2 {
    color: #fff;
    font-size: 2rem;
}

#button,
#button02 {
    background: #fff;
    border: none;
    padding: 1.5rem 0;
    color: #00ada9;
    font-size: 2rem;
    border-radius: 1rem;
    width: 80%;
    margin: 2rem auto 3rem;
    transition: 0.3s;

}

#random,
#random02 {
    color: #fff;
    font-size: 10rem;
}

.box {
    width: 80%;
    height: 5rem;
    background-color: yellow;

    @include pc {
        width: 20%;
    }
}

.swiper {
    width: 80%;
    height: 300px;

    img {
        object-fit: cover;
    }
}

.swiper-button-prev:after {
    color: red;
}

#dl_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;

    dt {
        background: yellow;
    }

    dd {
        background: orange;
    }
}